<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <title>Resume Builder</title>
</head>

<body>
    <nav class="navbar">
        <div>
            <form method="GET" action="/">
                <button class="preview-btn" type="submit">Back To Edit Page</button>
            </form>
        </div>
        <h1>AUTOMATED RESUME BUILDER</h1>
        <div>
            <button onclick="CreatePDFfromHTML()" class="preview-btn">Print PDF</button>
        </div>
    </nav>
    <div class="top-content">
        <div id="main-content">
            <section id="personal-detail-section">
                <%if(detail.personal_detail){%>
                    <h1>
                        <p id="name">
                            <%= detail.personal_detail.name %>
                        </p>
                    </h1>
                    <p> <b>Phone no-</b> <span id="phone-number"> <%= detail.personal_detail.contact %> </span> </p>
                    <p> <b>Email-</b> <span id="email"> <%= detail.personal_detail.email %> </span> </p>
                    <%}%>
            </section>

            <section id="info-section">
                <div class="info-card">
                    <div class="info-card-head">
                        <h3>EDUCATION</h3>
                    </div>
                    <%if(detail.education_detail){%>
                        <ul class="info-card-detail">
                            <% for(let detail1 of detail.education_detail ){ %>
                                <li style="margin-top:5px">
                                    <div class="info-card-content">
                                        <h4>
                                            <%= detail1.institute %>
                                        </h4>
                                        <h4>
                                            <%=detail1.from%> -
                                                <%=detail1.to%>
                                        </h4>
                                        <h4>CGPA/% -
                                            <%=detail1.percent%>
                                        </h4>
                                    </div>
                                </li>
                                <%}%>
                        </ul>
                    <%}%>
                </div>

                <div class="info-card">
                    <div class="info-card-head">
                        <h3>TECHNICAL SKILLS</h3>
                    </div>
                    
                    <ul class="info-card-detail">
                        <%if(detail.technical_skills){%>
                            <li>
                                <b>Languages: </b><%=detail.technical_skills.languages%>
                            </li>
                        <%}%>
                    </ul>
                </div>


                <div class="info-card">
                    <div class="info-card-head">
                        <h3>PROJECT</h3>
                    </div>
                    <ul class="info-card-detail">
                        <%for(project of detail.project_detail){%>
                            <li style="margin-top:5px">
                                <div class="info-card-content">
                                    <div class="info-card-title">
                                        <h4><%=project.project%></h4>
                                    </div>
                                    <div class="info-card-desc">
                                        <p>
                                            <%=project.description%>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        <%}%>
                    </ul>
                </div>
                <div class="info-card">
                    <div class="info-card-head">
                        <h3>WORK EXPERIENCE</h3>
                    </div>
                    <ul class="info-card-detail">
                        <%for(let workDetail of detail.work_experience){%>
                            <li style="margin-top: 5px;">
                                <div class="info-card-content">
                                    <div class="info-card-title">
                                        <h4><%=workDetail.company%></h4>
                                    </div>
                                    <div class="info-card-desc">
                                        <p>
                                            <%=workDetail.description%> 
                                        </p>
                                    </div>
                                </div>
                            </li>
                        <%}%>
                    </ul>
                </div>

                <div class="info-card">
                    <div class="info-card-head">
                        <h3>ACHIEVEMENTS</h3>
                    </div>
                    <ul class="info-card-detail">
                        <%for(let achieve of detail.achievement_detail){%>
                            <li style="margin-top: 5px;">
                                <%=achieve.achievement%>
                            </li>
                        <%}%>
                    </ul>
                </div>
            </section>
        </div>
    </div>
    <script src="/css/printPDF.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
</body>
</html>